name: Deploy Fruition

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Build Fruition site
        uses: stephenou/fruitionsite@main
        env:
          NOTION_PAGE_ID: ${{ secrets.NOTION_PAGE_ID }}
